body {
    display: flex;
}
.note {
    margin: 5px;
}
.note-id {
    display: flex;
}
.note-text {
    display: flex;
}
.create-note{
    width: 700px;
    margin-left: 50px;
}

.update-note{
    width: 700px;
    margin-left: 50px;
}

button{
    width: 15%;
    margin: 8px 8px 8px 8px;
    background-color: #4CAF50;
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  a{
    cursor: pointer;
  }